<launch>
  <arg name="id" default="$(optenv ID 1)" doc="Unique identifier of the robot [1-Inf.)"/>
  <arg name="ns" value="create$(arg id)"  doc="Namespace of the robot. By default: create1."/>

  <node pkg="wp_navi" type="wp_navi_otafab1.py" name="wp_navi" ns="$(arg ns)" output="screen" />
</launch>