<launch>
    <!-- <arg name="robot_id" default="$(optenv ID 1)"   doc="Unique identifer of the robot [1-Inf.)"/> -->
    <!-- <arg name="ns"  value="create$(arg robot_id)" doc="Namespace of the robot. By default: create1."/> -->
    
    <node pkg="wp_navi" type="wp_navi.py" name="wp_navi"
            output="screen"> </node>
</launch>