<launch>
  <include file="$(find ca_gazebo)/launch/create_empty_world.launch">
    <arg name="env" value="map_house1"/>

    <arg name="pose1_x" value="0"/>
    <arg name="pose1_y" value="0"/>
    <arg name="pose1_Y" value="0"/>

    <arg name="pose2_x" value="1"/>
    <arg name="pose2_y" value="1"/>
    <arg name="pose2_Y" value="0"/>
  </include>
</launch>
